.container-md,
.container-sm,
.container {
  max-width: none !important;
}

$grid-gutter-width: 32px;

@import 'bootstrap/scss/bootstrap.scss';

@media screen and (min-width: 1280px) {
  * {
    --bs-gutter-x: 80px;
  }
}

@import 'typography/colors';
@import 'typography/typography';

@import 'layout/mobile_header';
@import 'layout/desktop_header';

@import 'homepage/homepage';
@import 'homepage/banner';
@import 'homepage/partners';
@import 'homepage/benefits';
@import 'homepage/specifications';
