.banner_content {
  display: flex;
  flex-direction: column;
  gap: 120px;

  .banner_title {
    padding-top: 120px;
    text-align: center;

    @media screen and (min-width: 1280px) {
      padding-top: 0px;
    }
  }

  .image_section {
    .green_background {
      width: 100%;
      height: 362px;
      background-color: $green-60;
      border-radius: 30px;
      position: relative;
      overflow: visible;
      display: flex;
      justify-content: center;

      .image_wraper {
        bottom: 0;
        position: absolute;
        display: flex;
        justify-content: center;
      }
    }
  }
}
