body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Crimson Text', serif;
  font-size: 16px;
  color: $black;
  background-color: #fff;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  font-family: 'DM Sans:Medium', sans-serif;
  font-variation-settings: 'opsz' 14;
  letter-spacing: -2px;
}
